body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
  

.hero, .footer {
    background-color: #1F2937;

}

.info, .quote, .call {
    flex:1;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 50px 100px;
    gap: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.awesome img {
    width: 400px;
    height: 200px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 200px 50px 200px;
    text-align: justify;
   
} 

.sub {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card img {
    height: 200px;
    width: 133px;
    border-radius: 10px;
    align-items: flex-start;


}

.card {
    width: 133px;
    display: flex;
    flex-direction: column;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
 
.text {
    margin-bottom: 12px;
}

.links, .text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    border-radius: 10px;
    padding: 8px;
}

a, a:hover, a:active, a:visited { 
    color: white;
    text-decoration: none; 
}

.awesome {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.subtext {
    display: flex;
    flex-direction: column;
}


.infoheader {
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    margin-bottom: 32px;
    
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
}

.inspire {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.thor {
    font-weight: bold;
    align-self: flex-end;
}

.call {
    margin: 50px 100px;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px 50px;
    background-color: #3882F6;
}

.action {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.sign {
    font-weight: lighter;
    font-size: smaller;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    height: 100px;
    display: block;
  }

.foot {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
